<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>StudyWithMe</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <style>
        
</head>
<body>
<a href="chatroom">chatroom</a>

<h1> Hi, {{ session_user[0] }} </h1>

<p>List of users available</p>

<table style="width:100%">
<tr>
    <th>Name</th>
    <th>Location</th>
    <th>Course</th>
  </tr>
    {% for x in session_users %}
  <tr>
    <td>{{ session[x][0] }}</td>
    <td>{{ session[x][1] }} </td>
    <td>{{ session[x][2] }}</td>
  </tr>
    {% endfor %}
</table>

</body>
</html>