<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
</head>
<body>
<form action="/login" method="post">
    <label for="username">Username</label>
    <input type="text" id="username" name="username"><br><br>

    <label for="location">Location </label>
    <input type="text" id="location" name="location"><br><br>

    <label for="course">Course</label>
    <input type="text" id="course" name="course"><br><br>

    <button type="submit">Submit</button>
</form>
</body>
</html>